#answer-list {
  text-align: left;
}
#answer-list ul {
  margin: 0;
  word-spacing: 2px;
}

#answer-list li {
  list-style: none;
  word-spacing: 2px;
  margin: 5px;
  font-size: 20px;
  padding: 10px;
}

span {
  padding: 5px;
}
